name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_12.app
    
    - name: Install dependencies
      run: |
        cd Challo/
        pod install
      shell: bash

    - uses: ty0x2333/cocoapods-action@master
      with:
        additional_build_params: -destination 'platform=iOS Simulator,name=iPhone 11,OS=13.0'
        additional_lint_params: --private

    - name: Build and test
      run: xcodebuild clean build test -project Challo/Challo.xcodeproj -scheme "Challo" -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPad Air (4th generation)" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO
